@charset "utf-8";

/* 버튼 바꾸기 */
.swiper-button-next {
  width: 109px;
  height: 109px;
  background: url(../img/btn/btn_banner_next.png) no-repeat;
  background-size: cover;
  background-position: center;
}
.swiper-button-prev {
  width: 109px;
  height: 109px;
  background: url(../img/btn/btn_banner_prev.png) no-repeat;
  background-size: cover;
  background-position: center;
}

/* 원래버튼 숨기기 */
.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}


.swiper-pagination-bullet{
    display: inline-block;
    height: 10px;
    width: 10px;

    
    background-color: #eeeeee;
    opacity: 1;
}

.swiper-pagination-bullet-active{
    background-color: #181818;
}

